fastapi
starlette
uvicorn
pydantic
httpx
requests
websockets
python-dotenv
python-decouple
twilio
deepgram-sdk
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
googleapis-common-protos
gspread
oauth2client
oauthlib
proto-plus
protobuf
rsa
pyasn1
pyasn1_modules
httplib2
pytz
dateparser
python-dateutil
elevenlabs
openai
groq
langdetect
PyYAML